<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net462" />
  <package id="Accord.Extensions.Core" version="3.0.1" targetFramework="net462" />
  <package id="Accord.Extensions.Math" version="3.0.1" targetFramework="net462" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net462" />
  <package id="Accord.Statistics" version="3.0.2" targetFramework="net462" />
  <package id="Catel.Core" version="5.8.0" targetFramework="net462" />
  <package id="Catel.Fody" version="3.6.0" targetFramework="net462" />
  <package id="Catel.MVVM" version="5.8.0" targetFramework="net462" />
  <package id="DotImaging.Primitives2D" version="2.5.3" targetFramework="net462" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net462" />
  <package id="Fody" version="3.3.3" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net462" />
  <package id="OxyPlot.Core" version="2.0.0-unstable1035" targetFramework="net462" />
  <package id="OxyPlot.Wpf" version="2.0.0-unstable1035" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net462" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net462" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net462" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net462" />
</packages>